# symlinks
claude-army
alchemy
effect

# forks (except submodules)
forks/*
!forks/alchemy-effect

# secret
telegram.json

# iac state
**/.alchemy/state
**/.alchemy/out

# wrangler state
**/.wrangler

**/node_modules
**/.env

**/dist
